@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,400..700&family=Mulish&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.table-details tbody tr td:first-child {
    padding-left: .5rem;
}
@layer components {
    .nav-menu-item {
        @apply block mt-2 px-4 py-2 transition-all duration-200 hover:bg-indigo-900 rounded-xl;
    }
    .button {
        @apply px-4 py-2 rounded-md transition-all duration-200;
    }
    .button-small {
        @apply px-2 py-1 rounded-md transition-all duration-200;
    }
    .button-neutral {
        @apply bg-red-800 hover:bg-red-600 text-white;
    }
    .button-primary {
        @apply bg-indigo-800 hover:bg-indigo-600 text-white;
    }
    .button-warning {
        @apply bg-red-800 hover:bg-red-600 text-white;
    }
    .icon-action {
        @apply w-6 h-auto transition-all hover:scale-110
        ; 
    }
    .flash-notice {
        @apply w-full bg-indigo-100 border-indigo-200 border rounded-md text-black my-4 ps-2 py-2;
    }
    .input-default {
        @apply border rounded-md px-2 py-1 mt-1 mb-4;
    }
    .page-title {
        @apply text-3xl font-bold font-pgraph; 
    }
}