{% extends 'admin/base.html.twig' %}

{% block title %}
	New room
{% endblock %}
{% block body %}
    <h2 class="page-title my-4">New customer</h2>
	{{ include('admin/customers/partials/form-customer.html.twig', { 'form': form }) }}
{% endblock %}
