{% extends 'admin/base.html.twig' %}

{% block title %}
	Edit room
{% endblock %}
{% block body %}
	<h2 class="page-title my-4">Edit room</h2>
	{{ include('admin/rooms/partials/form-room.html.twig', { 'form': form }) }}
{% endblock %}
